#Status li {
    margin:none;
    padding:none;
    float:left;
    list-style:none;
    text-indent:none;
}

#Status li:before {
    content: "\00a0\00AB\00a0";
}

#Status a:first-child:before {
    content: "\00a0";
}

#SuperTicTacToe table {
    border-collapse: collapse;
}

#SuperTicTacToe td {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#SuperTicTacToe tr {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#SuperTicTacToe td.board, #SuperTicTacToe .super>tbody>tr {
    border-width: 6px;
}

#SuperTicTacToe td:first-child, #SuperTicTacToe td:last-child {
    border:none;
}

#SuperTicTacToe tr:first-child, #SuperTicTacToe tr:last-child {
    border:none;
}

#SuperTicTacToe td.board.square {
    padding:5px;
}

#SuperTicTacToe .square.cell div {
    min-height: 50px;
    min-width: 50px;
}

.playerX {
    background-image:url('/web-client/symbol-player-x.png');
    background-position:center;
}

.playerX.cell {
    background-image:url('/web-client/symbol-player-x-small.png');
    background-position:center;
}

.playerO {
    background-image:url('/web-client/symbol-player-o.png');
    background-position:center;
}

.playerO.cell {
    background-image:url('/web-client/symbol-player-o-small.png');
    background-position:center;
}

