$def with (content)
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>$content.title</title>
        <link rel="stylesheet" href="/static/style.css" />
        <script src="/_ah/channel/jsapi"></script>
        <script src="https://www.google.com/jsapi"></script>
        <script>
            google.load("jquery", "1", {uncompressed:true});
        </script>
    </head>
    <body>
    <header>
        <h1>$content.title</h1>
    </header>
    <section id="content">
        $:content
    </section>
    <footer>
    </footer>
    </body>
</html>
