$def with (state, pos2lin)
$var title = "Playing Super Tic-Tac-Toe"
<script type="text/javascript" src="/static/game.js"></script>
<table class="board" id="superboard">
$for w in range(3):
    <tr>
    $for x in range(3):
        <td class="cell supercell">
            <table class="board" id="board-$pos2lin(w, x)">
            $for y in range(3):
                <tr>
                $for z in range(3):
                    <td class="cell">
                        <input type="button"
                               data-board="$pos2lin(w, x)"
                               data-cell="$pos2lin(y, z)" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
